<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IaC Scan Result</title>
  {{ includeCSS "report.css" }}
  {{ includeJS "report.js" }}
</head>
<body>
    <div class="container">
    <div class="report-header-footer"><span class="title">IaC SCAN <span>REPORT</span></span><span class="timestamp">{{ getCurrentTime }}</span></div>
    <div class="run-info">
      <span style="flex-basis:100%" id="scan-paths"><strong>DataDog IaC Scanner {{ getVersion }}</strong></span>
      <span style="flex-basis:100%" id="scan-paths"><strong>Scanned paths:</strong> {{ getPaths .ScannedPaths }}</span>
      <span style="flex-basis:100%" id="scan-platforms"><strong>Platforms:</strong> {{ getPlatforms .Queries }}</span>
      {{- with .Times -}}
        <span id="scan-start-time"><strong>Start time:</strong> {{ .Start.Format "15:04:05, Jan 02 2006" }}</span>
        <span id="scan-end-time"><strong>End time:</strong> {{ .End.Format "15:04:05, Jan 02 2006" }}</span>
      {{- end}}
    </div>
    <h2 style="margin-top:41px" class="color-black">Vulnerabilities:</h2>
    <div class="counters">
    {{- with .SeveritySummary -}}
      <div class="severity" onclick="filter('CRITICAL')">
        <div class="color-red icon">{{ includeSVG "vulnerability_fill.svg" }}</div>
        <span class="badge" id="severity-count-critical">{{ index .SeverityCounters (severity "critical") }}</span>
        <span class="caption">CRITICAL</span>
      </div>
      <div class="severity" onclick="filter('HIGH')">
        <div class="color-orange icon">{{ includeSVG "vulnerability_fill.svg" }}</div>
        <span class="badge" id="severity-count-high">{{ index .SeverityCounters (severity "high") }}</span>
        <span class="caption">HIGH</span>
      </div>
      <div class="severity" onclick="filter('MEDIUM')">
        <div class="color-orange icon">{{ includeSVG "vulnerability_out.svg" }}</div>
        <span class="badge" id="severity-count-medium">{{ index .SeverityCounters (severity "medium") }}</span>
        <span class="caption">MEDIUM</span>
      </div>
      <div class="severity" onclick="filter('LOW')">
        <div class="color-purple icon">{{ includeSVG "vulnerability_out.svg" }}</div>
        <span class="badge" id="severity-count-low">{{ index .SeverityCounters (severity "low") }}</span>
        <span class="caption">LOW</span>
      </div>
      <div class="severity" onclick="filter('INFO')">
        <div class="color-purple icon">{{ includeSVG "info.svg" }}</div>
        <span class="badge" id="severity-count-info">{{ index .SeverityCounters (severity "info") }}</span>
        <span class="caption">INFO</span>
      </div>
    {{- end}}
      <div class="severity" onclick="filter('TOTAL')">
        <div class="color-orange icon">{{ includeSVG "info.svg" }}</div>
        <span class="badge" id="severity-count-total">{{ .TotalCounter }}</span>
        <span class="caption selected">TOTAL</span>
      </div>
    </div>
    {{- range .Queries}}
    <div data-type="severity" data-name="{{.Severity}}">
      <hr class="separator"/>
      <div class="query">
        <div class="query-info">
          <div class="query-title">
            <h2>
              {{- if eq .Severity "HIGH" -}}
              <div class="color-orange">{{ includeSVG "vulnerability_fill.svg" }}</div>
              {{- end -}}
              {{- if eq .Severity "MEDIUM" -}}
              <div class="color-orange">{{ includeSVG "vulnerability_out.svg" }}</div>
              {{- end -}}
              {{- if eq .Severity "LOW" -}}
              <div class="color-purple">{{ includeSVG "vulnerability_out.svg" }}</div>
              {{- end -}}
              {{- if eq .Severity "INFO" -}}
              <div class="color-purple">{{ includeSVG "info.svg" }}</div>
              {{- end -}}
              <span class="query-name">{{- .QueryName -}}</span>
            </h2>
            <span><strong>Platform:</strong> <span class="query-info-platform">{{ .Platform }}</span></span>
            {{ if .CWE }}<span><strong>CWE:</strong> {{ .CWE }}</span>{{ end }}
            <span><strong>Category:</strong> <span class="query-info-category">{{ .Category }}</span></span>
          </div>
          <div class="query-details">
            {{- if not .CISDescriptionID -}}
            <span class="query-description-title">{{ .Description }}</span>
            {{- end -}}
            {{- if .CISDescriptionID -}}
            <span class="cis-description-id"><sub>{{ .CISDescriptionIDFormatted }}</sub></span>
            <span class="query-description-title">{{ .CISDescriptionTitle }}</span>
            <span class="cis-description-text">{{ .CISDescriptionTextFormatted }}</span>
            {{- end -}}
            <span><a href="{{ .QueryURI }}" rel="noopener" target="_blank">{{ .QueryURI }}</a></span>
          </div>
        </div>
        <details>
          <summary>Results (<span class="severity-partial-count-{{ toString .Severity | lower }}">{{ len .Files }}</span>)</summary>
          {{- range .Files}}
          {{- $vulLine := .Line -}}
          <div class="vulnerable-info">
            <div class="vulnerable-info-header">
              <strong>File: {{ .FileName }}</strong>
              <span>Line {{ $vulLine }}</span>
            </div>
            <div class="vulnerable-info-details">
              <span><strong>Expected:</strong> {{ .KeyExpectedValue }}</span>
              <span><strong>Found:</strong> {{ .KeyActualValue }}</span>
            </div>
            <div class="code-box">
              {{- range .VulnLines -}}
              <div class="code-line {{ if eq .Position $vulLine }}error{{ end }}">
                <span class="code-line-counter">{{ .Position }}</span><span class="code">{{ trimSpaces .Line }}</span>
              </div>
              {{- end}}
            </div>
          </div>
          {{- end -}}
        </details>
      </div>
    </div>
    {{- end -}}
  </div>
</body>
</html>
