name: go-e2e

on:
  pull_request:
    branches: [main]
  workflow_call:

jobs:
  e2e-tests:
    name: e2e-tests
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.24.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Get cache paths
        id: go-cache-paths
        shell: bash
        run: echo "GO_BUILD=$(go env GOCACHE)" >>$GITHUB_OUTPUT
      - name: Cache dependencies
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ${{ steps.go-cache-paths.outputs.GO_BUILD }}
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
      - name: Get Modules
        run: go mod vendor
      - name: Build datadog-iac-scanner
        run: |
          COMMIT=$(git rev-parse HEAD)
          VERSION=snapshot-$(echo ${COMMIT} | cut -c1-8)
          go build -o bin/datadog-iac-scanner -mod=vendor -tags dev -ldflags "-X ${CONSTANTS_PATH}.SCMCommit=${COMMIT} -X ${CONSTANTS_PATH}.Version=${VERSION}" ./cmd/scanner
      - name: Run E2E Tests
        run: |
          go test -tags dev -timeout 1500s -json ./e2e > results.json || cat results.json
      - name: Generate E2E Report
        if: always()
        run: |
          CWD=$(pwd)
          cd .github/scripts/report
          go mod tidy
          go build
          ./e2e-report -test-path ${CWD} -test-name results.json -report-path ${CWD} -report-name e2e-report.html
      - name: Archive test report
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: e2e-tests-${{ github.event.pull_request.head.sha }}.log
          path: e2e-report.html
